:root{
    --baccolor:#e8eaed;
}
#footer_outer{
    display: flex;
    justify-content: center;
    background-color:var(--baccolor);
}

#footer_container{
    display: flex;
    justify-content: center;
}
.style_inner_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
}
.style_inner_footer h2{
    margin: 0;
}
hr{
    border: 1px solid;
    margin: 0 auto;
    width: 33px;
}
#style_news1{
    width: 21%;
    background-color: white;
}

#style_news2{
    padding: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.stylr-ul-li{
    
}
.ri-mail-line{
    font-size: 30px;
}
ul{
    list-style: none;
    margin-top: 18px;
    padding: 0 20px;
}

li{
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    margin: 6px;
    margin-top: 20px;
    text-align: center;
    color: #333;
}
#f_email{
    padding: 10px;
    font-size: 12px;
    width: 187px;
    margin-bottom: 13%;
    background-color: #f6f6f6;
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
    font-family: Montserrat,sans-serif;
}

#chkbox{
    display: flex;
   
}

#chkbox p{
    
    color: #999;
    font-size: .8125rem;
    line-height: .75rem;
    margin-right: 24%;
    padding-left: 5px;
    text-align: left;
    margin: 0;
    word-spacing: 5px;

}
#male {

    margin-right: 24%;

}


button{
    width: 150px;
        /* width: 150px; */
        margin-top: 14%;
        padding: 16px;
        width: 104%;
        font-weight: 700;
        font-family: monospace;
        background-color: #333;
        cursor: pointer;
        color: white;
}
.footer_social{
    display: flex;
    justify-content: space-around;
    background-color:var(--baccolor);
    height: 62px;
    align-items: center;

}
.style_f_icon{
    display: flex;
    gap: 20px;

}

#f_icon i{
    font-size: 27px;
}

#f_icon i:hover {
    color: red;
  }


  .f_mob_icon i{
    font-size: 55px;
    
  }
  #smrt_mob{
    font-size: 38px;
    position: relative;
    left: -25px;
    
    top: 19px;
    font-weight: 100;
  }
  .f_mob_icon{
    display: flex;
  }

  .last_footer{
    background-color: #333;
    margin-top: 1px;
    height: 124px;
  }

  #style_last_footer_p{
    display: flex;
    flex-direction: column;
  }

  

.style_p{
    text-align: center;
    color: white;
    padding: 15px;
  }

.style_p ~ p  {
    color: gray;
    text-align: center;
    margin: auto;
  }