#footer_outer{
    display: flex;
    justify-content: center;
}

#footer_container{
    display: flex;
    border: 1px solid red;
}
.style_inner_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    border: 2px solid greenyellow;
}
hr{
    border: 1px solid;
    margin: 0 auto;
    width: 33px;
}

.stylr-ul-li{
    
}
ul{
    list-style: none;
    margin-top: 18px;
    padding: 0 20px;
}

li{
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    margin: 6px;
    margin-top: 20px;
    text-align: center;
    color: #333;
}

button{
    width: 150px;
}