:root {
    --txt_icon: #28282B;
}

#style_top_div {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid darkgray;
    font-family: 'Montserrat', sans-serif;

}

.style_sub_top_div {
    display: flex;

}

.style_coun {
    font-weight: bold;
    gap: 20px;
    margin-left: 3%;
    margin-bottom: 1%;

}

.style_reg {
    font-weight: bold;
    gap: 20px;
    margin-right: 3%;
}

.style_reg a {
    text-decoration: none;
}

#style_top_div span {
    color: var(--txt_icon);
    font-size: 10px;
    color: black;

}

.style_man_top_div {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;

}

.style_man_top_div span {
    color: var(--txt_icon);
    font-size: 13px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.style_man_top_div a {
    text-decoration: none;

}

#style_man_sub_top_div {
    display: flex;
    align-items: center;
    gap: 20px;


}

#img_voox {
    width: 83px;
}

#style_cart_icon {
    display: flex;
    width: 17%;
    justify-content: space-between;

}

#style_cart_icon i {
    font-size: 23px;
    color: var(--txt_icon);
    font-weight: bold;
}